.body-12-regular{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.body-14-regular{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.body-16-medium{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
